/**
 * Styles for components such as navigation, buttons, forms, etc.
 */
.site-nav {
  display: flex;
  justify-content: space-between;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: relative;
}

/* Hamburger icon bars */
.hamburger-icon span {
  display: block;
  background-color: #333;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.nav-trigger:checked + .hamburger-icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav-trigger:checked + .hamburger-icon span:nth-child(2) {
  opacity: 0;
}

.nav-trigger:checked + .hamburger-icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#spotify-widget {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
}

#spotify-icon {
  width: 60px;
  height: 60px;
}

#spotify-bubble {
  display: none;
  width: 250px;
  background-color: #1DB954;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -160px;
  left: 10px;
}

.icon-wrapper:hover + #spotify-bubble {
  display: block;
}