<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="NRG Engineering - Innovation and engineering solutions blog and projects. Explore articles, thoughts, and insights.">
    <meta name="keywords" content="Engineering, Blog, Projects, Innovation">
    <meta property="og:title" content="NRG Engineering">
    <meta property="og:description" content="Innovation and engineering solutions blog and projects.">
    <meta property="og:image" content="/assets/images/home_banner.jpeg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - NRG Engineering</title>
    <link rel="stylesheet" href="/assets/css/output.css">
    <!-- <script src="/assets/js/hamburgerMenu.js"></script> -->
    <!-- Tailwind CSS Output -->
</head>
<body class="bg-gray-100 font-sans">

    <!-- Include the splash screen for login and TOS -->
	{% include splashScreen.html %}   
    <!-- Banner with hamburger -->
    <div class="banner bg-cover bg-center h-64 flex justify-between items-center px-5" style="background-image: url('/assets/images/home_banner.jpeg');">
        <h1 class="text-white text-5xl font-bold drop-shadow-lg">NRG-ENGR</h1>
        {% include hamburgerMenu.html %}
    </div>

    <!-- Page content -->
    <main>
        {{ content }}

        <!-- Include Recent Blog Posts -->
        {% include recentBlogPosts.html %}

        <!-- Include Blog Upload Calendar -->
        {% include blogCalendar.html %}
    </main>
    {% include _spotifyWidget.html %}
</body>
<!-- Example Google Analytics tracking script -->
<script async src="https://www.googletagmanager.com/gtag/js?id=YOUR_TRACKING_ID"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'YOUR_TRACKING_ID');
</script>
<footer class="bg-gray-800 text-white py-4 text-center">
    <p>&copy; 2024 NRG Engineering. All rights reserved.</p>
    <a href="/privacy-policy.html" class="text-gray-400">Privacy Policy</a> | <a href="/terms.html" class="text-gray-400">Terms of Service</a>
</footer>
</html>
